absl-py==0.9.0
aioimaplib==1.0.1
aiosignal==1.2.0
asn1crypto==0.24.0
astor==0.8.1
astropy==4.0
async-timeout==4.0.2
attrs==22.2.0
awkward==1.9.0
backcall==0.1.0
bokeh==2.3.3
cached-property==1.5.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
cloudpickle==2.2.1
conda==4.6.14
configobj==5.0.6
contextvars==2.4
cryptography==3.3.2
cycler==0.10.0
dask==2021.3.0
dask-jobqueue==0.7.3
decorator==4.4.2
distributed==2021.3.0
distro==1.5.0
docker==2.6.1
docker-compose==1.18.0
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
ffmpeg==1.4
Flask==1.1.4
frozenlist==1.2.0
fsspec==2022.1.0
gast==0.3.3
gfal2-util==1.8.0
globus-cli==2.1.0
globus-sdk==2.0.1
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.29.0
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
htcondor==10.0.7
httplib2==0.20.4
idna==3.2
idna-ssl==1.1.0
imaplib2==3.6
immutables==0.19
importlib-metadata==1.6.0
importlib-resources==5.4.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.1
jmespath==0.10.0
jsonschema==2.5.1
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
locket==1.0.0
M2Crypto==0.35.2
Markdown==3.2.2
MarkupSafe==0.23
matplotlib==3.2.1
msgpack==1.0.5
multidict==5.2.0
numexpr==2.8.1
numpy==1.19.5
oauth2==1.9.0.post1
OrbitalPy==0.7.0
osg-configure==4.1.1
packaging==21.3
pandas==1.1.5
parso==0.7.0
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
ply==3.9
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.9.8
psycopg2==2.8.6
ptyprocess==0.6.0
PyCondor==0.6.0.dev0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==17.3.0
pyparsing==3.0.9
PyQt5==5.14.0
PyQt5-sip==12.7.1
PySocks==1.6.8
python-dateutil==2.8.2
pytz==2021.1
PyYAML==3.13
Represent==1.6.0
requests==2.26.0
root-numpy==4.8.0
rpm==4.11.3
rrdtool==0.1.10
ruamel.yaml==0.13.14
scipy==1.4.1
sgp4==2.5
six==1.16.0
sortedcontainers==2.4.0
sudo==1.0.0
tables==3.7.0
tblib==1.7.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
texttable==1.6.2
toolz==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
typing-extensions==4.1.1
uproot==4.3.7
urllib3==1.26.6
wcwidth==0.1.9
websocket-client==0.47.0
websockify==0.6.0
Werkzeug==1.0.1
wrapt==1.12.1
xrootd==5.5.5
yarl==1.7.2
zict==2.1.0
zipp==3.1.0
